# Tuplas

<ul>
   <li> Tuples are an ordered sequence </li>
   <li> Tuples are written as comma-separated elements within parentheses</li>
</ul>

In [2]:
Ratings = (10, 9, 6, 2)
Ratings

(10, 9, 6, 2)

In [17]:
# Tuples can be: strings, int, float 
# All the elements in a tuple can be of different data types

usuario = (1, "Letícia", 20)

# I can do a array of tuples
usuarios = [
   (1, "Letícia", 20),
   (2, "Jomar", 19),
   (3, "Vintinho", 18),
   (4, "Xilosa", 19),
   (5, "Ticia", 19),
   (6, "Mathias", 20)
]

# I can access the elements of a tuple by index
# print(usuarios[0])


for id, nome, idade in usuarios:
   print(f"ID: {id}, Nome: {nome}, Idade: {idade}")

ID: 1, Nome: Letícia, Idade: 20
ID: 2, Nome: Jomar, Idade: 19
ID: 3, Nome: Vintinho, Idade: 18
ID: 4, Nome: Xilosa, Idade: 19
ID: 5, Nome: Ticia, Idade: 19
ID: 6, Nome: Mathias, Idade: 20

In [23]:
print(usuarios[0:3]) # 3 first elements

print(usuarios[3:]) # 3 last elements

print(usuarios[0][1])

[(1, 'Letícia', 20), (2, 'Jomar', 19), (3, 'Vintinho', 18)]
[(4, 'Xilosa', 19), (5, 'Ticia', 19), (6, 'Mathias', 20)]
Letícia

In [ ]:
# Tuples are immutable
# usuarios[0] = (1, "Letícia", 21) # Error

In [25]:
# If we want to change a tuple, we need to create a new tuple

Ratings = (10, 9, 6, 5, 10, 8, 1, 2)
# Se quisermos classificar uma tupla, usamos a função sorted
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

[1, 2, 5, 6, 8, 9, 10, 10]

#### Nesting (Aninhamento)

Uma tupla pode conter outras tuplas, bem como outros tipos de dados complexos

In [30]:
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))

print(NT[2][1])
print(NT[4][1][0])

rock
1